@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');



.navbar {
  position: relative;
  width: 100%;
  height: 300px;
  z-index: 1;
  top: 0;
  background: linear-gradient(180deg, rgb(235, 131, 131), rgb(228, 228, 119), rgb(161, 240, 161), transparent);
}

 .top {
  // width: 100%;
  // max-width: 1250px;
  // margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-nav {
  font-family: 'Unbounded', cursive;
}

.right-nav li a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.right-nav li a.active {
  height: 100%;
  border-bottom: 1px solid rgb(172, 149, 146);
}


h1 {
  width: 30%;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Itim', cursive;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Itim', cursive;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 15px;
}

li {
  font-weight: 600;
  font-size: 16px;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.main-body {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 80px 30px;
  min-height: 483px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.single-page {
  display: flex;
  margin: auto;
  padding: 100px;
  min-height: 483px;
  gap: 50px;
}

.image {
  border-radius: 5px;
  border: 1px solid salmon;
}

.main-body img {
  border-radius: 5px;
}

.main-body img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.5s ease-in;
}

.card {
 display: flex;
 flex-direction: row;
 gap: 50px;
 justify-content: center;
}

.home-card {
  display: flex;
  gap: 50px;
}

.home-card:nth-child(odd) {
  direction: rtl;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 18px;
  font-family: 'Poppins', sans-serif;
}

.description {
  margin: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
}
.card:nth-child(odd) {
  direction: rtl;
}

.content {
  width: 50%;
}

footer {
  background-color: rgb(22, 21, 21);
  color: antiquewhite;
  padding: 10px;
  text-align: center;
}

.about-us {
  display: flex;
  min-height: 483px;
  padding: 100px;
}

@media (max-width: 400px) {
  .home-card {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  .main-body img{
    position: relative;
    width: 300px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .home-card {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    padding: 20px;
  }

  .main-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .main-body img {
    position: relative;
    display: flex;
    margin: auto;
    width: 500px;
  }

  .single-page img {
    width: 600px;
    display: flex;
    margin: auto;
    height: 300px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .about-us {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 992px) {
  .home-card {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    padding: 20px;
  }

  .main-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .main-body img {
    position: relative;
    display: flex;
    margin: auto;
    width: 500px;
  }

  .single-page img {
    width: 600px;
    display: flex;
    margin: auto;
    height: 300px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .about-us {
    display: flex;
    flex-direction: column;
  }
}